{% extends "index.html" %}
{% block content %}
<h1>Plugin</h1>

<p>Our economy listings depend on data from observed trades.  That's where you can help.  If you run a TF2 server with sourcemod (especially a dedicated trading server) and you install our plugin, trades that occur on your server will be sent to our database to help keep market values up-to-date.</p>

<h2>Installing the plugin</h2>

<p>The plugin has one prerequisite: the cURL Sourcemod extension.  You can download it <a href="https://code.google.com/p/sourcemod-curl-extension/downloads/list">here</a>.  It installs easily; just unpack the archive into your server's sourcemod folder.</p>

<p>Then you can install our plugin just by dropping it into the plugins folder on your server.  It should load on the next map change.</p>

<p>You can download the plugin -here-.  The current version is {{ version }}.  The source is available on <a href="https://github.com/cconnett/tf2mv">GitHub</a></p>.
{% endblock %}