{% extends "index.html" %}
{% block content %}

<h2>Privacy Policy</h2>
<p>
By joining this group, you give TF2MV permission to:
<ul>
  <li>Poll your TF2 backpack at regular intervals using the Steam Web API. </li>
  <li>Store the data on servers in the United States. </li>
  <li>Publish non-personally identifiable aggregate data derived from the backpack data gathered. </li>
</ul>
</p>

<p>
You may revoke this permission at any time by leaving the group.  If you do so, we will:
<ul>
  <li>Stop polling your TF2 backpack.</li>
  <li>Delete the backpack data we have collected about your Steam account in a timely manner.</li>
  </ul>
</p>

<p>
If your backpack data was used in the creation of derived or aggregate data, the derived data will survive and continue to be made available.
</p>
{% endblock %}
